# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
nc_env/

# Data files
*.pkl

# OS / Editor files
.DS_Store
Thumbs.db

# Project-specific output
cv2024/
cv2025/

# Jupyter
.ipynb_checkpoints/

# Logs and temp
*.log
*.tmp

# VSCode
.vscode/

